.textColor {
  color: gold;
}
.body {
  margin: 0;
  background-color: grey;
  font-family: "Lemon", sans-serif;
}
.container {
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
}
.ListItem {
  color: silver;
}
.nav {
  background-color: black;
  padding: 10px;
}
.cartPic {
    min-width: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
li {
  color: gold;
  margin: 10px;
  font-size: 18px;
}
.navLink {
  margin-right: 15px;
  color: #ffcc00;
  font-size: 18px;
}
hr {
  margin: 25px 0px;
}
.header{
  font-size: 28px;
  font-weight: bold;
  color: gold;
}
input {
  width: 150px;
  padding: 5px;
  margin-bottom: 40px;
  font-size: 16px;
}
button {
  padding: 0px 6px;
  margin: 2px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  background-color: grey;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: gold;
}

/* ipad 768 or smaller */
@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }
  .body {
    background-color: rgb(196, 122, 33);
  }
  input {
    width: 20%;
    padding: 4px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  button {
      color: black;
      background-color: rgb(196, 122, 33);
  }
}

/* cellphone or smaller */
@media screen and (max-width: 480px) {
  .container {
    padding: 10px;
  }
  .body {
    background-color: green;
  }
  input {
    width: 20%;
    padding: 2px;
    margin-bottom: 18px;
    font-size: 16px;
  }
  button {
    color: black;
    background-color: green;
}
}
